{% if drone_server_host is defined %}
DRONE_SERVER_HOST={{ drone_server_host }}
{% endif %}
{% if drone_server_proto is defined %}
DRONE_SERVER_PROTO={{ drone_server_proto }}
{% endif %}
{% if drone_tls_autocert is defined %}
DRONE_TLS_AUTOCERT={{ drone_tls_autocert }}
{% endif %}
{% if drone_tls_autocert_email is defined %}
DRONE_TLS_EMAIL={{ drone_tls_autocert_email }}
{% endif %}
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
{% if drone_database_secret is defined  and drone_database_secret != "" %}
DRONE_DATABASE_SECRET={{ drone_database_secret }}
{% endif %}
{% if drone_logs_debug is defined %}
DRONE_LOGS_DEBUG={{ drone_logs_debug }}
{% endif %}
{% if drone_logs_trace is defined %}
DRONE_LOGS_TRACE={{ drone_logs_trace }}
{% endif %}
{% if drone_logs_nocolor is defined %}
DRONE_LOGS_NOCOLOR=true
{% endif %}
{% if drone_logs_pretty is defined %}
DRONE_LOGS_PRETTY=true
{% endif %}
{% if drone_logs_text is defined %}
DRONE_LOGS_TEXT=true
{% endif %}
{% if drone_user_create is defined %}
DRONE_USER_CREATE={{ drone_user_create }}
{% endif %}
{% if drone_user_filter is defined %}
DRONE_USER_FILTER={{ drone_user_filter }}
{% endif %}
{% if drone_database_driver is defined and drone_database_driver != "sqlite" %}
DRONE_DATABASE_DRIVER={{ drone_database_driver }}
{% endif %}
{% if drone_database_datasource is defined and drone_database_driver != "sqlite" %}
DRONE_DATABASE_DATASOURCE={{ drone_database_datasource }}
{% endif %}
{% if drone_database_secret is defined %}
DRONE_DATABASE_SECRET={{ drone_database_secret }}
{% endif %}
{% if drone_github_client_id != "" and drone_github_client_secret != "" %}
DRONE_GITHUB_SERVER={{ drone_github_server }}
DRONE_GITHUB_CLIENT_ID={{ drone_github_client_id }}
DRONE_GITHUB_CLIENT_SECRET={{ drone_github_client_secret }}
DRONE_GITHUB_DEBUG={{ drone_github_debug }}
{% endif %}
{%if drone_github_enable_always_auth is defined %}
DRONE_GIT_ALWAYS_AUTH={{ drone_github_enable_always_auth }}
{% endif%}
{% if drone_gitlab_client_id is defined and drone_gitlab_client_id != "" %}
DRONE_GITLAB_SERVER=https://gitlab.com
DRONE_GITLAB_CLIENT_ID={{ drone_gitlab_client_id }}
DRONE_GITLAB_CLIENT_SECRET={{ drone_gitlab_client_secret }}
DRONE_GITLAB_DEBUG={{ drone_github_debug }}
{% endif %}
{% if drone_gitea_client_id is defined and drone_gitea_server !="" %}
DRONE_GITEA_SERVER={{ drone_gitea_server }}
DRONE_GITEA_CLIENT_ID={{ drone_gitea_client_id }}
DRONE_GITEA_CLIENT_SECRET={{ drone_gitea_client_secret }}
DRONE_GITEA_SKIP_VERIFY={{ drone_gitea_skip_verify }}
DRONE_GITEA_DEBUG={{ drone_github_debug }}
{% endif %}
{% if drone_se_bucket is defined %}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
AWS_DEFAULT_REGION={{ aws_default_region }}
AWS_REGION={{ aws_region }}
DRONE_S3_BUCKET={{ drone_s3_bucket }}
{% endif %}
{% if drone_kubernetes_enabled == true %}
DRONE_KUBERNETES_ENABLED={{ drone_kubernetes_enabled }}
DRONE_KUBERNETES_NAMESPACE={{ drone_kubernetes_namespace }}
DRONE_KUBERNETES_CONFIG_PATH={{ drone_kubernetes_config_path }}
DRONE_KUBERNETES_CONFIG_URL={{ drone_kubernetes_config_url }}
DRONE_KUBERNETES_TTL_AFTER_FINISHED={{ drone_kubernetes_ttl_after_finished }}
DRONE_KUBERNETES_SERVICE_ACCOUNT={{ drone_kubernetes_service_account }}
DRONE_KUBERNETES_IMAGE_PULL={{ drone_kubernetes_image_pull }}
DRONE_KUBERNETES_IMAGE={{ drone_kubernetes_image }}
{% endif %}
{% if drone_cookie_secret is defined %}
DRONE_COOKIE_SECRET={{ drone_cookie_secret }}
{% endif %}
{% if drone_cookie_secure is defined %}
DRONE_COOKIE_SECURE=true
{% endif %}
{% if drone_legacy_token_mapping_file is defined %}
DRONE_LEGACY_TOKEN_MAPPING_FILE={{ drone_legacy_token_mapping_file }}
{% endif %}
{% if drone_cookie_timeout is defined %}
DRONE_COOKIE_TIMEOUT={{ drone_cookie_timeout }}
{% endif %}
{% if drone_authentication_endpoint is defined %}
DRONE_AUTHENTICATION_ENDPOINT={{ drone_authentication_endpoint }}
{% endif %}
{% if drone_authentication_token is defined %}
DRONE_AUTHENTICATION_TOKEN={{ drone_authentication_token }}
{% endif %}
{% if drone_authentication_skip_verify is defined %}
DRONE_AUTHENTICATION_SKIP_VERIFY=true
{% endif %}
{% if drone_runner_capacity is defined %}
DRONE_RUNNER_CAPACITY={{ drone_runner_capacity }}
{% endif %}
{% if drone_letsencrypt_host is defined %}
LETSENCRYPT_HOST={{ drone_letsencrypt_host }}
{% endif %}
{% if drone_letsencrypt_email is defined %}
LETSENCRYPT_EMAIL={{ drone_letsencrypt_email }}
{% endif %}
{% if drone_nginx_virtual_host is defined %}
VIRTUAL_HOST={{ drone_nginx_virtual_host }}
{% endif %}
{% if drone_nginx_virtual_port is defined %}
VIRTUAL_PORT={{ drone_nginx_virtual_port }}
{% endif %}
{% if drone_nginx_virtual_protocol is defined %}
VIRTUAL_PROTOCOL={{ drone_nginx_virtual_protocol }}
{% endif %}
{% if drone_prometheus_anonymous_access is defined %}
DRONE_PROMETHEUS_ANONYMOUS_ACCESS=true
{% endif %}
